<h2 mat-dialog-title>Add exercise</h2>
<mat-dialog-content class="mat-typography">
  <div class="col-md-12">
    <div class="card card-container" >
      <div class="transport-details-content" class="add-transport-form">
  

          <mat-form-field class="add-field">
            <mat-label>Trainer</mat-label>
              <mat-select [(ngModel)]="selectedTrainerId" required >
                <mat-option *ngFor="let trainer of trainers" [value]="trainer"> {{ trainer.firstName }} {{ trainer.lastName }}  </mat-option>
              </mat-select>
          </mat-form-field>

          <mat-form-field class="add-field">
            <mat-label>Exercise name</mat-label>
              <mat-select [(ngModel)]="selectedOption" required>
                <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
              </mat-select>
          </mat-form-field>


          <mat-form-field class="add-field">
            <mat-label>Comment</mat-label>
            <input matInput type="text" [(ngModel)]="comment" required>
          </mat-form-field>

        <div mat-dialog-actions class="add-button">
          <button mat-raised-button class="add-button" (click)="onSubmitForTrainer(selectedTrainerId, selectedOption)" mat-dialog-close>Add</button>
        </div>

      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>