<mat-toolbar>
    <button mat-button routerLink="/">Gym Helper App</button>
    <span class="example-spacer"></span>

    <button mat-button *ngIf="isLoggedInTrainer && !isLoggedInTrainee">Welcome, {{trainerDetails.firstName}} </button>
    <button mat-button *ngIf="!isLoggedInTrainer && isLoggedInTrainee">Welcome, {{traineeDetails.firstName}} </button>


    <button *ngIf="isLoggedInTrainer || isLoggedInTrainee" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
        <button *ngIf="isLoggedInTrainer || isLoggedInTrainee" mat-menu-item routerLink="/trainers" >Trainers</button>
        <button *ngIf="!isLoggedInTrainee" mat-menu-item routerLink="/trainees" >Trainees</button>
        <button *ngIf="!isLoggedInTrainee" mat-menu-item routerLink="/exercises" >Exercises</button>
    </mat-menu>


    <button  *ngIf="isLoggedInTrainer || isLoggedInTrainee" mat-button [matMenuTriggerFor]="profile">Profiles</button>
    <mat-menu #profile="matMenu">
        <button mat-menu-item routerLink="/profile" >My Profile</button>
        <button *ngIf="isLoggedInTrainer || isLoggedInTrainee" mat-menu-item routerLink="/my-exercises" >My Exercises</button>
        <!-- <button *ngIf="isLoggedInTrainer && !isLoggedInTrainee" mat-menu-item routerLink="/my-trainees" >My Trainees Profile</button> -->
    </mat-menu>


    <button  *ngIf="!isLoggedInTrainer && !isLoggedInTrainee" mat-button [matMenuTriggerFor]="login">Login</button>
    <mat-menu #login="matMenu">
        <button  *ngIf="!isLoggedInTrainer && !isLoggedInTrainee" mat-menu-item routerLink="/trainer-login" >Trainer</button>
        <button  *ngIf="!isLoggedInTrainer &&  !isLoggedInTrainee" mat-menu-item routerLink="/trainee-login" >Trainee</button>
    </mat-menu>

    <button  *ngIf="!isLoggedInTrainer && !isLoggedInTrainee" mat-button [matMenuTriggerFor]="register">Register</button>
    <mat-menu #register="matMenu">
        <button *ngIf="!isLoggedInTrainer && !isLoggedInTrainee" mat-menu-item routerLink="/trainer-register" >Trainer</button>
        <button *ngIf="!isLoggedInTrainer && !isLoggedInTrainee" mat-menu-item routerLink="/trainee-register" >Trainee</button>
    </mat-menu>
    
    <button  *ngIf="isLoggedInTrainer || isLoggedInTrainee" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
