.details-card{
    display: flex;
    justify-content: center;
    margin: 30px;
    background-color: #ffffff;
}

.details-content{
    margin: 15px;
    padding: 0px;
    height: auto;
    background-color: #c3c3c4;
    color: rgb(0, 0, 0);
}

.posters{
    height: 500px;
}

.img{
    margin: 15px;
    height: auto;
    width: auto;
    background-color: #ffffff;
    box-shadow: none;
}

.details-content-div{
    width: 100%;
    /* width: fit-content; */
}

.posters{
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

.mdc-card{
    display: flex;
    justify-content: center; 
}

.mr {
    margin-right: 5px;
}
.container {
    padding: 24px;
}
img {
    width: auto;
    height: auto;
    object-fit: cover;
}
.responsive-grid {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}
/* .mat-mdc-card {
    background-color: white;
} */

.trainee-card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    width: auto;
    height: auto;
    padding: 0px;
    transition: all .2s ease-in-out;
    background-color: #ffffff;
    
}

.trainee-card:hover{
    transform: scale(1.1);
    z-index: 1;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    appearance: textfield;
}

.exercise-details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-button{
margin-bottom: 30px;
margin-right: 10px;
}

.add-button{
display: flex;
}

.comment-field{
    display: flex;
    width: 400px;
}

#buffering{
justify-content: center;
display: flex;
align-items: center;
position: absolute;
}

.back-button{
    margin-left: 20px;
    margin-bottom: 30px;
    margin-right: 10px;
    }
    
    .update-button{
        margin-bottom: 30px;
        margin-left: 10px;
    }